
*{
    margin: 0;
    padding:0;
    line-height: 1.6;
    box-sizing: border-box;
}
.header-top-bar{
    background-color: #223a66;
    padding:10px;
    color: #fff;
}

.top-bar-info li a{
    color: #fff;
}
.top-right-bar a span{
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
.top-bar-info li a:hover{
    text-decoration:none;
}
.top-right-bar a:hover{
    text-decoration:none;
}
#navbar{
    background-color: #fff !important;
}

#Responsive .nav-link{
    font-weight: 600;
    padding: 10px 15px;
    color: #222;
    font-family: "Exo", sans-serif;
}

@media only screen and (min-width: 953px){
    #content{
        background-image: url(./img/slider-bg-1.jpg);
        width:100%;
        background-size: cover;
        height:700px;
    }
}
@media only screen and (max-width: 900px){
    #content{
        background-color: #fff;
    }
}

#make-appoinment{
    padding:80px 0px 160px;
}
#make-appoinment span{
    letter-spacing: 2px;
    font-size: 14px;
    color:#6F8BA4;
}
#make-appoinment h1{
    margin: 16px 0px;
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -1.2px;
    text-transform: capitalize;
    color: #223a66;
}
#make-appoinment a:hover{
    text-decoration: none;
}
#make-appoinment a{
    color: #f1f1f1;
    background-color: #e12454;
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: .5px;
    padding: .75rem 2rem;
    font-family: "Exo", sans-serif;
    border-radius: 30px;
    transition: 0.5s;
}
#make-appoinment a:hover{
    background-color: #223a66;
}
.row-appoinment{
    flex-basis: 33.33%;
    margin: 0px 10px;
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
}
#create-appoinment{
    color: #223a66;

}
.icon-box{
    font-size: 50px;
    margin: 0px 0px 24px;
}
.row-appoinment a{
    font-weight: 500;
    color: #f1f1f1;
    background-color: #223a66;
    padding: 10px 10px;
    border-radius: 50px;
    transition: 0.5s;
    /* box-sizing: border-box; */
}
.row-appoinment a:hover{
    background-color: #e12454;
    text-decoration: none;
    color: #fff;
}
.row-appoinment ul li{
    text-decoration: none;
    list-style-type: none;
    border-bottom: 1px solid rgb(238, 232, 232);
    padding :3px;
} 
.row-appoinment h4 b{
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #223a66;
    margin-bottom: 16px;
    line-height: 2rem;
}
.row-appoinment p{
    font-size: 14px;
    color: #6F8BA4;
    margin-bottom: 24px;
    line-height: 30px;
}
.row-appoinment span{
    color: #6F8BA4;
}
#service{
    padding: 30px 0px;
}

#service img{
    padding: 5px;
    border-radius: 30px;
}
#register-service{
    padding:50px 20px;
}
#register-service a{
    font-weight: 600;
    color: #f1f1f1;
    background-color: #e12454;
    padding: 12px 50px 12px 20px;
    border-radius: 50px;
    transition: 0.5s;
}
#register-service a:hover{
    background-color: #223a66;
    text-decoration: none;
    color: #fff;
}

#result{
    background-color: #223a66;
    margin: 10px;
}
.box-result{
    width: 25%;
    color: #f1f1f1;
    padding:50px;
    text-align: center;
}
.box-result h2{
    font-weight: 700;
    font-size: 70px;
    font-family: "Exo", sans-serif;
}
.box-result i{
    font-size: 30px;
    color: #254580;
}

#patient{
    background-color: #f4f9fc;
    color: #223a66;
    padding:40px 0px 100px;
}
#patient p{
    color: #6F8BA4;
}
#title-patient h1{
    font-family: "Exo", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 44px;
}
#title-patient{
    padding: 40px 0px;
}
.service-item{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.service-item i{
    font-size: 35px;
    color: red;
    padding: 10px;
}

#font-appoinment{
    padding:30px;
}
#font-appoinment h2 b{
    color: #223a66;
    font-size: 44px;
    margin-bottom: 8px;
    font-family: "Exo", sans-serif;
}
#font-appoinment p{
    color: #6F8BA4;
    margin-bottom: 24px;
}
#book-appoinment{
    padding: 100px 0px;
}
#font-appoinment a{
    font-weight: 600;
    color: #f1f1f1;
    background-color: #223a66;
    padding: 10px 40px 10px 20px;
    border-radius: 50px;
    transition: 0.5s;
}
#font-appoinment a:hover{
    background-color: #e12454;
    text-decoration: none;
    color: #fff;
}
#botton-appoinment{
    margin-top: 30px;
}

#contact-number{
    background-color: #223a66;
    color: #f1f1f1;
    text-align: center;
    padding: 20px;
    float: right;
    bottom: 50px;
    position: absolute;
}
#slides-infoDoctor{
    background: #f4f9fc;
    padding: 100px 0px;
}
.doctor{
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}
.doctor img{
    width:80px ;
    height: 80px;
    border-radius: 100%;
    border:5px solid #f1f1f1;
    float: left;
    margin:0px 15px 0px 0px;
}
.carousel-inner{
    padding:50px;
}
#title-infoDoctor{
    text-align: center;
}
#title-infoDoctor h2{
        color: #223a66;
        font-size: 44px;
        margin-bottom: 8px;
        font-family: "Exo", sans-serif;
        font-weight: 700;
}
#partner-support{
    padding: 80px 0px;
    background-color: #fff;
}
footer{
    background: #f4f9fc;
    padding: 40px 0px;
    color: #223a66;
    font-family: "Exo", sans-serif;
    font-weight: 600;
}
footer li{
    list-style-type: none;
    line-height: 35px;
}
footer li a:hover{
    text-decoration: none;
    color: rgb(163, 33, 33);
    width: 100%;
}
footer li a{
    color: #666;
    transition: 0.5s;
}
#contact-social li{
    font-size: 40px;
    padding: 10px;
}
#contact-social li{
    display: inline-table;
}
#footer-email{
    border-top: 1px solid rgb(212, 212, 212);   
    padding: 30px 0px;
}
#footer-email input{
    width: 80%;
}
#form-email{
    padding: 6px 12px 6px 25px;
    border: 1px solid #223a66;
    border-radius: 50px;
    background-color: #fff;
}
#form-email input{
   border: none;
}
#form-email button{
    padding: 10px 40px 10px 40px ;
    border-radius: 50px;
    border: none;
    background: #e12454;
    color: #fff;
    border-color: #e12454;
    transition: 0.5s;
    font-weight: 700;
}
#form-email button:hover{
    background: #223a66;
}










